# Here is where we will perform the Analysis on the NBA Data set

# We hope to answer the following questions:

# 1. Which college produces the most players in the league today?
# 2. Which college produces the 'toughest' players? aka stay in the league longest
# 3. What school produces the best players in each position? (Based on the following criteria: Most years in league, number of players in that position,points per game) 

# Let's get programming!

In [82]:
import numpy as np 
import pandas as pd

In [83]:
#We will first load in our unclean data set from the NBA API 
#Since this is not an api that can be called via HTTP GET, we had to use bs4 to scrape from the page
#http://data.nba.net/10s/prod/v1/2018/players.json

#We parsed the JSON in the initial .py file and returned a few columns to csv 

players = pd.read_csv('college_round1.csv')
player_ready = pd.DataFrame(players)

In [84]:
#Here is a sample of the partially cleaned data set. 
#We still need to retrieve the TeamId from the currentTeam column 

player_ready.head()

,firstName,lastName,collegeName,currentTeam,draftTeam,draftYear,yearsPro,position
0,Alex,Abrines,NaN,"[{'teamId': '1610612760', 'seasonStart': '2016...","{'teamId': '1610612760', 'pickNum': '32', 'rou...",2016.0,2.0,G
1,Jaylen,Adams,St. Bonaventure,"[{'teamId': '1610612737', 'seasonStart': '2018...","{'teamId': '', 'pickNum': '', 'roundNum': '', ...",2018.0,0.0,G
2,Steven,Adams,Pittsburgh,"[{'teamId': '1610612760', 'seasonStart': '2013...","{'teamId': '1610612760', 'pickNum': '12', 'rou...",2013.0,5.0,C
3,Bam,Adebayo,Kentucky,"[{'teamId': '1610612748', 'seasonStart': '2017...","{'teamId': '1610612748', 'pickNum': '14', 'rou...",2017.0,1.0,C-F
4,DeVaughn,Akoon-Purcell,Illinois State,"[{'teamId': '1610612743', 'seasonStart': '2018...","{'teamId': '', 'pickNum': '', 'roundNum': '', ...",2018.0,0.0,G-F

In [85]:
team = list(player_ready['currentTeam'])

print(len(curr_team))

#just double checking to ensure they are equal 
#draft_team = list(player_ready['draftTeam'])
#print(len(draft_team))
#team = list(player_ready['currentTeam'])[0][13:23]

497

In [86]:
#Lets add the teamIds into one list that can be appended to the main dataframe table as a new column 

i = 0
current_teamId = []

while i < len(team):
    current_teamId.append((team[i][13:23]))
    i += 1

In [97]:
player_ready.drop(['currentTeam','draftTeam'], axis=1,inplace=True)

In [99]:
current_teamId = pd.Series(current_teamId)
#Adding back a clean teamId for the current Team 
player_ready['current_teamId'] = current_teamId

#We have successfully created a dataset that we can work with to answer our initial questions. 
player_ready

,firstName,lastName,collegeName,draftYear,yearsPro,position,current_teamId
0,Alex,Abrines,NaN,2016.0,2.0,G,1610612760
1,Jaylen,Adams,St. Bonaventure,2018.0,0.0,G,1610612737
2,Steven,Adams,Pittsburgh,2013.0,5.0,C,1610612760
3,Bam,Adebayo,Kentucky,2017.0,1.0,C-F,1610612748
4,DeVaughn,Akoon-Purcell,Illinois State,2018.0,0.0,G-F,1610612743
5,LaMarcus,Aldridge,Texas,2006.0,12.0,F,1610612757
6,Rawle,Alkins,NaN,NaN,0.0,G,1610612741
7,Grayson,Allen,Duke,2018.0,0.0,G,1610612762
8,Jarrett,Allen,Texas,2017.0,1.0,C,1610612751
9,Al-Farouq,Aminu,Wake Forest,2010.0,8.0,F,1610612746
10,Justin,Anderson,Virginia,2015.0,3.0,G-F,1610612742
11,Kyle,Anderson,UCLA,2014.0,4.0,F,1610612759
12,Ryan,Anderson,California,2008.0,10.0,F,1610612751
13,Ike,Anigbogu,California-Los Angeles,2017.0,1.0,C,1610612754
14,Giannis,Antetokounmpo,Greece,2013.0,5.0,F,1610612749
15,Kostas,Antetokounmpo,Dayton,NaN,0.0,F,1610612742
16,Carmelo,Anthony,Syracuse,2003.0,15.0,F,1610612743
17,OG,Anunoby,Indiana,2017.0,1.0,F,1610612761
18,Ryan,Arcidiacono,Villanova,2017.0,1.0,G,1610612741
19,Trevor,Ariza,UCLA,2004.0,14.0,F,1610612752
20,D.J.,Augustin,Texas,2008.0,10.0,G,1610612766
21,Deandre,Ayton,Arizona,2018.0,0.0,C,1610612756
22,Dwayne,Bacon,Florida State,2017.0,1.0,G-F,1610612766
23,Marvin,Bagley III,Duke,2018.0,0.0,F,1610612758
24,Ron,Baker,Wichita State,2016.0,2.0,G,1610612752
25,Wade,Baldwin IV,Vanderbilt,2016.0,2.0,G,1610612763
26,Lonzo,Ball,California-Los Angeles,2017.0,1.0,G,1610612747
27,Mo,Bamba,Texas,2018.0,0.0,C,1610612753
28,J.J.,Barea,Northeastern,2006.0,12.0,G,1610612742
29,Harrison,Barnes,North Carolina,2012.0,6.0,F,1610612744
...,...,...,...,...,...,...,...
467,Lonnie,Walker IV,Miami (FL),NaN,0.0,G,1610612759
468,John,Wall,Kentucky,2010.0,8.0,G,1610612764
469,Tyrone,Wallace,California,2017.0,1.0,G,1610612746
470,Brad,Wanamaker,Pittsburgh,2018.0,0.0,G,1610612738
471,T.J.,Warren,North Carolina State,2014.0,4.0,F,1610612756
472,Yuta,Watanabe,George Washington,2018.0,0.0,G,1610612763
473,Thomas,Welsh,California-Los Angeles,2018.0,0.0,C,1610612743
474,Russell,Westbrook,UCLA,2008.0,10.0,G,1610612760
475,Derrick,White,Colorado,2017.0,1.0,G,1610612759
476,Okaro,White,Florida State,2016.0,2.0,F,1610612748
477,Hassan,Whiteside,Marshall,2010.0,6.0,C,1610612758
478,Andrew,Wiggins,Kansas,2014.0,4.0,F-G,1610612750
479,Alan,Williams,California-Santa Barbara,2015.0,3.0,F-C,1610612756
480,C.J.,Williams,North Carolina State,2017.0,1.0,G,1610612746
481,Johnathan,Williams,Gonzaga,2018.0,0.0,F,1610612747
482,Kenrich,Williams,NaN,2018.0,0.0,G-F,1610612740
483,Lou,Williams,South Gwinnett HS (GA),2005.0,13.0,G,1610612755
484,Marvin,Williams,North Carolina,2005.0,13.0,F,1610612737
485,Troy,Williams,Indiana,2016.0,2.0,F,1610612763
486,Robert,Williams III,Texas A&amp;M;,2018.0,0.0,C-F,1610612738
487,D.J.,Wilson,Michigan,2017.0,1.0,F,1610612749
488,Justise,Winslow,Duke,2015.0,3.0,F,1610612748
489,Christian,Wood,Nevada-Las Vegas,2015.0,2.0,F,1610612755
490,Delon,Wright,Utah,2015.0,3.0,G,1610612761
491,Guerschon,Yabusele,NaN,2017.0,1.0,F,1610612738
492,Thaddeus,Young,Georgia Tech,2007.0,11.0,F,1610612755
493,Trae,Young,Oklahoma,2018.0,0.0,G,1610612737
494,Cody,Zeller,Indiana,2013.0,5.0,C,1610612766
495,Ante,Zizic,NaN,2017.0,1.0,C,1610612739
496,Ivica,Zubac,NaN,2016.0,2.0,C,1610612747

Let's Begin with the first question, which college has produced the most active players in the NBA today